ul {
    list-style: none;
    padding: 0;
}

.newHero-item{
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.newHero-item:hover {
    background-color: #f0f0f0;
}

.power-list-item{
    margin: 0;
    padding: 0;
}

.heroName {
    font-weight: bold;
}

.publisher {
    color: #555;
}

.expandedInfo {
    margin-top: 8px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.expandedInfo button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px; /* Adjust the padding for a smaller button */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expandedInfo button:hover {
    background-color: #2980b9;
}